MONGODB_URI=mongodb://localhost:27017/dental100med
JWT_SECRET=замени_на_случайную_строку_минимум_32_символа
PORT=5000
ADMIN_EMAIL=admin@dental100med.ru
ADMIN_PASSWORD=твой_пароль
ADMIN_PASSWORD_HASH=хэш_сгенерированный_через_seed.js
